### Recruit Visitor Forecasting - Linear Regression

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Contibutions from: DSEverything - Mean Mix - Math, Geo, Harmonic
#https://www.kaggle.com/dongxu027/mean-mix-math-geo-harmonic-lb-0-493 
#JdPaletto - Surprised Yet? - Part2
#https://www.kaggle.com/jdpaletto/surprised-yet-part2-lb-0-503
#hklee - weighted mean comparisons
#https://www.kaggle.com/zeemeen/weighted-mean-comparisons-lb-0-497-1st

#Load required libraries
import glob, re
import numpy as np
import pandas as pd
from sklearn import *
from datetime import datetime
from xgboost import XGBRegressor

C:\Users\Neha Rawat\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Neha Rawat\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
C:\Users\Neha Rawat\Anaconda3\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [3]:
data = {
    'tra': pd.read_csv('air_visit_data.csv'),
    'as': pd.read_csv('air_store_info.csv'),
    'hs': pd.read_csv('hpg_store_info.csv'),
    'ar': pd.read_csv('air_reserve.csv'),
    'hr': pd.read_csv('hpg_reserve.csv'),
    'id': pd.read_csv('store_id_relation.csv'),
    'tes': pd.read_csv('sample_submission.csv'),
    'hol': pd.read_csv('date_info.csv').rename(columns={'calendar_date':'visit_date'})
    }

In [4]:
data['hr'] = pd.merge(data['hr'], data['id'], how='inner', on=['hpg_store_id'])
data['hr'].head(5)

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_store_id
0,hpg_878cc70b1abc76f7,2016-01-01 19:00:00,2016-01-01 15:00:00,4,air_db80363d35f10926
1,hpg_878cc70b1abc76f7,2016-01-02 19:00:00,2016-01-02 14:00:00,2,air_db80363d35f10926
2,hpg_878cc70b1abc76f7,2016-01-03 18:00:00,2016-01-02 20:00:00,6,air_db80363d35f10926
3,hpg_878cc70b1abc76f7,2016-01-06 20:00:00,2016-01-04 22:00:00,3,air_db80363d35f10926
4,hpg_878cc70b1abc76f7,2016-01-11 18:00:00,2016-01-11 14:00:00,2,air_db80363d35f10926

In [5]:
for df in ['ar','hr']:
    data[df]['visit_datetime'] = pd.to_datetime(data[df]['visit_datetime'])
    data[df]['visit_datetime'] = data[df]['visit_datetime'].dt.date
    data[df]['reserve_datetime'] = pd.to_datetime(data[df]['reserve_datetime'])
    data[df]['reserve_datetime'] = data[df]['reserve_datetime'].dt.date
    data[df]['reserve_datetime_diff'] = data[df].apply(lambda r: (r['visit_datetime'] - r['reserve_datetime']).days, axis=1)
    tmp1 = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 'reserve_visitors']].sum().rename(columns={'visit_datetime':'visit_date', 'reserve_datetime_diff': 'rs1', 'reserve_visitors':'rv1'})
    tmp2 = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 'reserve_visitors']].mean().rename(columns={'visit_datetime':'visit_date', 'reserve_datetime_diff': 'rs2', 'reserve_visitors':'rv2'})
    data[df] = pd.merge(tmp1, tmp2, how='inner', on=['air_store_id','visit_date'])

data['ar'].head(5)
data['hr'].head(5)

           air_store_id  visit_date  rs1  rv1  rs2   rv2
0  air_00a91d42b08b08d9  2016-10-31    0    2  0.0   2.0
1  air_00a91d42b08b08d9  2016-12-05    4    9  4.0   9.0
2  air_00a91d42b08b08d9  2016-12-14    6   18  6.0  18.0
3  air_00a91d42b08b08d9  2016-12-17    6    2  6.0   2.0
4  air_00a91d42b08b08d9  2016-12-20    2    4  2.0   4.0

           air_store_id  visit_date  rs1  rv1  rs2  rv2
0  air_00a91d42b08b08d9  2016-01-14    3    2  3.0  2.0
1  air_00a91d42b08b08d9  2016-01-15    6    4  6.0  4.0
2  air_00a91d42b08b08d9  2016-01-16    3    2  3.0  2.0
3  air_00a91d42b08b08d9  2016-01-22    3    2  3.0  2.0
4  air_00a91d42b08b08d9  2016-01-29    6    5  6.0  5.0

In [6]:
data['tra']['visit_date'] = pd.to_datetime(data['tra']['visit_date'])
data['tra']['dow'] = data['tra']['visit_date'].dt.dayofweek
data['tra']['year'] = data['tra']['visit_date'].dt.year
data['tra']['month'] = data['tra']['visit_date'].dt.month
data['tra']['visit_date'] = data['tra']['visit_date'].dt.date

data['tes']['visit_date'] = data['tes']['id'].map(lambda x: str(x).split('_')[2])
data['tes']['air_store_id'] = data['tes']['id'].map(lambda x: '_'.join(x.split('_')[:2]))
data['tes']['visit_date'] = pd.to_datetime(data['tes']['visit_date'])
data['tes']['dow'] = data['tes']['visit_date'].dt.dayofweek
data['tes']['year'] = data['tes']['visit_date'].dt.year
data['tes']['month'] = data['tes']['visit_date'].dt.month
data['tes']['visit_date'] = data['tes']['visit_date'].dt.date

data['tra'].head(5)
data['tes'].head(5)

unique_stores = data['tes']['air_store_id'].unique()
stores = pd.concat([pd.DataFrame({'air_store_id': unique_stores, 'dow': [i]*len(unique_stores)}) for i in range(7)], axis=0, ignore_index=True).reset_index(drop=True)

print(unique_stores)
stores.head(5)

           air_store_id  visit_date  visitors  dow  year  month
0  air_ba937bf13d40fb24  2016-01-13        25    2  2016      1
1  air_ba937bf13d40fb24  2016-01-14        32    3  2016      1
2  air_ba937bf13d40fb24  2016-01-15        29    4  2016      1
3  air_ba937bf13d40fb24  2016-01-16        22    5  2016      1
4  air_ba937bf13d40fb24  2016-01-18         6    0  2016      1

,id,visitors,visit_date,air_store_id,dow,year,month
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4

['air_00a91d42b08b08d9' 'air_0164b9927d20bcc3' 'air_0241aa3964b7f861'
 'air_0328696196e46f18' 'air_034a3d5b40d5b1b1' 'air_036d4f1ee7285390'
 'air_0382c794b73b51ad' 'air_03963426c9312048' 'air_04341b588bde96cd'
 'air_049f6d5b402a31b2' 'air_04cae7c1bc9b2a0b' 'air_0585011fa179bcce'
 'air_05c325d315cc17f5' 'air_0647f17b4dc041c8' 'air_064e203265ee5753'
 'air_066f0221b8a4d533' 'air_06f95ac5c33aca10' 'air_0728814bd98f7367'
 'air_0768ab3910f7967f' 'air_07b314d83059c4d2' 'air_07bb665f9cdfbdfb'
 'air_082908692355165e' 'air_083ddc520ea47e1e' 'air_0845d8395f30c6bb'
 'air_084d98859256acf0' 'air_0867f7bebad6a649' 'air_08ba8cd01b3ba010'
 'air_08cb3c4ee6cd6a22' 'air_08ef81d5b7a0d13f' 'air_08f994758a1e76d4'
 'air_09040f6df960ddb8' 'air_0919d54f0c9a24b8' 'air_09661c0f3259cc04'
 'air_09a845d5b5944b01' 'air_09fd1f5c58583141' 'air_0a74a5408a0b8642'
 'air_0b184ec04c741a6a' 'air_0b1e72d2d4422b20' 'air_0b9038300f8b2b50'
 'air_0e1eae99b8723bc1' 'air_0e7c11b9abc50163' 'air_0f0cdeee6c9bf3d7'
 'air_0f2f96335f274801' 'air_0f60e1576a7d397d' 'air_1033310359ceeac1'
 'air_10393f12e9069760' 'air_105a7954e32dba9b' 'air_10713fbf3071c361'
 'air_10bbe8acd943d8f6' 'air_12c4fb7a423df20d' 'air_138ee734ac79ff90'
 'air_138ff410757b845f' 'air_1408dd53f31a8a65' 'air_142e78ba7001da9c'
 'air_1509881b22965b34' 'air_152c1f08d7d20e07' 'air_15ae33469e9ea2dd'
 'air_15e6e15c7ea2c162' 'air_16179d43b6ee5fd8' 'air_1653a6c513865af3'
 'air_168441ada3e878e1' 'air_16c4cfddeb2cf69b' 'air_16cf0a73233896de'
 'air_1707a3f18bb0da07' 'air_17a6ab40f97fd4d8' 'air_17bed6dbf7c8b0fc'
 'air_1979eaff8189d086' 'air_1ab60ce33bfed8a8' 'air_1ae94f514a0bce13'
 'air_1ba4e87ef7422183' 'air_1c0b150f9e696a5f' 'air_1c95a84924d72500'
 'air_1d1e8860ae04f8e9' 'air_1d25ca6c76df48b4' 'air_1d3f797dd1f7cf1c'
 'air_1dd8f6f47480d1a2' 'air_1dea9815ccd36620' 'air_1e23210b584540e7'
 'air_1e665503b8474c55' 'air_1eeff462acb24fb7' 'air_1f1390a8be2272b3'
 'air_1f34e9beded2231a' 'air_1f7f8fa557bc0d55' 'air_2009041dbf9264de'
 'air_20619d21192aa571' 'air_20add8092c9bb51d' 'air_2195cd5025a98033'
 'air_21f5052d5330528d' 'air_220cba70c890b119' 'air_22682e965418936f'
 'air_228f10bec0bda9c8' 'air_232dcee6f7c51d37' 'air_234d3dbf7f3d5a50'
 'air_23e1b11aee2a1407' 'air_23ee674e91469086' 'air_24b9b2a020826ede'
 'air_24e8414b9b07decb' 'air_2545dd3a00f265e2' 'air_256be208a979e023'
 'air_2570ccb93badde68' 'air_258ad2619d7bff9a' 'air_258dc112912fc458'
 'air_25c583983246b7b0' 'air_25d8e5cc57dd87d9' 'air_25e9888d30b386df'
 'air_2634e41551e9807d' 'air_26c5bbeb7bb82bf1' 'air_26f10355d9b4d82a'
 'air_275732a5db46f4d3' 'air_27e991812b0d9c92' 'air_28064154614b2e6c'
 'air_287d2de7d3c93406' 'air_28a9fa1ec0839375' 'air_28dbe91c4c9656be'
 'air_290e7a57b390f78e' 'air_298513175efdf261' 'air_2a184c1745274b2b'
 'air_2a24aec099333f39' 'air_2a3743e37aab04b4' 'air_2a485b92210c98b5'
 'air_2a7f14da7fe0f699' 'air_2aab19554f91ff82' 'air_2ac361b97630e2df'
 'air_2b8b29ddfd35018e' 'air_2b9bc9f5f5168ea1' 'air_2bffb19a24d11729'
 'air_2c505f9ad67d4635' 'air_2c6c79d597e48096' 'air_2c6fef1ce0e13a5a'
 'air_2c989829acbd1c6b' 'air_2cee51fa6fdf6c0d' 'air_2d3afcb91762fe01'
 'air_2d78d9a1f4dd02ca' 'air_2e7cb1f1a2a9cd6a' 'air_2f8ced25216df926'
 'air_2fc149abe33adcb4' 'air_2fc478dc9f0a6b31' 'air_2fed81034f8834e5'
 'air_303bac187b53083a' 'air_310e467e6e625004' 'air_3155ee23d92202da'
 'air_31c753b48a657b6c' 'air_32460819c7600037' 'air_324f7c39a8410e7c'
 'air_326ca454ef3558bc' 'air_32b02ba5dc2027f4' 'air_32c61b620a766138'
 'air_32f5d7cd696e3c4a' 'air_33b01025210d6007' 'air_3440e0ea1b70a99b'
 'air_346ade7d29230634' 'air_347be2c4feeb408b' 'air_349278fa964bb12f'
 'air_3525f11ef0bf0c35' 'air_35512c42db0868da' 'air_3561fd1c0bce6a95'
 'air_35c4732dcbfe31be' 'air_36429b5ca4407b3e' 'air_36bcf77d3382d36e'
 'air_37189c92b6c761ec' 'air_375a5241615b5e22' 'air_382f5ace4e2247b8'
 'air_383f5b2f8d345a49' 'air_38746ffe9aa20c7e' 'air_396166d47733d5c9'
 'air_396942e6423a2145' 'air_397d3f32a7196aa2' 'air_3980af67be35afdb'
 'air_3982a2c4ea2ed431' 'air_399904bdb7685ca0' 'air_39dccf7df20b1c6a'
 'air_3a8a3f8fb5cd7f88' 'air_3aa839e8e0cb6c87' 'air_3ac24136722e2291'
 'air_3b20733899b5287f' 'air_3b6438b125086430' 'air_3bb99a1fe0583897'
 'air_3bd49f98ab7f36ab' 'air_3c05c8f26c611eb9' 'air_3c938075889fc059'
 'air_3cad29d1a23209d2' 'air_3caef3f76b8f26c5' 'air_3d3a2b509180e798'
 'air_3e6cea17a9d2c0f1' 'air_3e93f3c81008696d' 'air_3f91d592acd6cc0b'
 'air_401b39f97e56b939' 'air_4043b7ccfbffa732' 'air_4092cfbd95a3ac1b'
 'air_40953e2d8b4f2857' 'air_40f6193ea3ed1b91' 'air_414ff459ed18fa48'
 'air_41bbf6e1d9814c4b' 'air_421670f21da5ba31' 'air_4254c3fc3ad078bd'
 'air_42c9aa6d617c5057' 'air_42d41eb58cad170e' 'air_43b65e4b05bff2d3'
 'air_43d577e0c9460e64' 'air_4433ab8e9999915f' 'air_4481a87c1d7c9896'
 'air_452100f5305dde64' 'air_45326ebb8dc72cfb' 'air_4570f52104fe0982'
 'air_4579cb0669fd411b' 'air_457efe8c3a30ea17' 'air_464a62de0d57be1e'
 'air_465bddfed3353b23' 'air_47070be6093f123e' 'air_472b19e3b5bffa41'
 'air_473cf23b9e7c0a37' 'air_473f98b212d37b4a' 'air_47beaffd3806c979'
 'air_483eba479dc9910d' 'air_48e9fc98b62495a7' 'air_48f4da6223571da4'
 'air_48ffd31594bc3263' 'air_49211568cab5fdee' 'air_4974785f48853db9'
 'air_4b251b9f8373f1ae' 'air_4b380b4db9d37883' 'air_4b55d8aea1d2b395'
 'air_4b9085d0d46a6211' 'air_4beac252540f865e' 'air_4c2ed28f3f19ca52'
 'air_4c665a2bfff0da3b' 'air_4c727b55acdee495' 'air_4cab15ad29c0ffbc'
 'air_4cab91146e3d1897' 'air_4cca5666eaf5c709' 'air_4ce7b17062a1bf73'
 'air_4d21676ed11f0bac' 'air_4d71826793c09b22' 'air_4d90a22572fa1ec9'
 'air_4de6d887a7b1c1fc' 'air_4dea8d17f6f59c56' 'air_4e1c38f68f435596'
 'air_4f762e840b3996e1' 'air_4feeb8600f131e43' 'air_500641aca4cf673c'
 'air_506fe758114df773' 'air_51281cd059d7b89b' 'air_51319e7acf0438cf'
 'air_52a08ef3efdb4bb0' 'air_52e2a1fd42bc917a' 'air_536043fcf1a4f8a4'
 'air_539d693f7317c62d' 'air_546b353cbea4a45b' 'air_5485912b44f976de'
 'air_54d6c25d33f5260e' 'air_54ed43163b7596c4' 'air_55390f784018349a'
 'air_55c3627912b9c849' 'air_55e11c33d4758131' 'air_56cd12f31a0afc04'
 'air_56cebcbd6906e04c' 'air_56ea46c14b2dd967' 'air_57013002b912772b'
 'air_573ecdf81b157d22' 'air_57c9eea1a2b66e65' 'air_57ed725a1930a5b9'
 'air_5878b6f2a9da12c1' 'air_59cc9b2b209c6331' 'air_5a9a6cbeeb434c08'
 'air_5acc13d655a6e8b2' 'air_5afb1cca48ceaa19' 'air_5b6d18c470bbfaf9'
 'air_5b704df317ed1962' 'air_5bd22f9cc1426a90' 'air_5c65468938c07fa5'
 'air_5c7489c9ec755e2d' 'air_5c817ef28f236bdf' 'air_5cb030b9f0b91537'
 'air_5cfc537125d97f16' 'air_5d7c744c3a2ef624' 'air_5d945ade487cdf4d'
 'air_5dea8a7a5bf5eb71' 'air_5e339a1f364cdb00' 'air_5e34c6fe6fabd10e'
 'air_5e70fe82f9e4fab6' 'air_5e939e005bd34633' 'air_5ed3198e4a5eed0f'
 'air_5f3a3ef4cba110a4' 'air_5f6fa1b897fe80d5' 'air_5fbda8e9302f7c13'
 'air_602ca92c0db34f8f' 'air_609050e4e4f79ae1' 'air_60a7057184ec7ec7'
 'air_60aa54ecbc602348' 'air_6108821ffafa9b72' 'air_614e2f7e76dff854'
 'air_61668cc2b0778898' 'air_61b8d37c33617f21' 'air_61de73b097513f58'
 'air_622375b4815cf5cb' 'air_627cabe2fe53f33f' 'air_629d9935273c82ae'
 'air_629edf21ea38ac2d' 'air_632ba66e1f75aa28' 'air_638c35eb25e53eea'
 'air_63a750d8b4b6a976' 'air_63a88d81295195ed' 'air_63b13c56b7201bd9'
 'air_63e28ee0b0c955a7' 'air_640cf4835f0d9ba3' 'air_6411203a47b5ec77'
 'air_645cb18b33f938cf' 'air_646b93e336f0dded' 'air_64a5d5c1381837af'
 'air_64d4491ad8cdb1c6' 'air_650f9b9de0c5542c' 'air_657a0748462f85de'
 'air_65e294f1ae6df9c3' 'air_6607fe3671242ce3' 'air_670a0c1c4108bcea'
 'air_671b4bea84dafb67' 'air_673acd9fa5e0dd78' 'air_67483104fa38ef6c'
 'air_675aa35cba456fd1' 'air_67f87c159d9e2ee2' 'air_68147db09287bf74'
 'air_681b0c56328dd2af' 'air_681f96e6a6595f82' 'air_68301bcb11e2f389'
 'air_683371d9baabf410' 'air_6836438b543ba698' 'air_6873982b9e19c7ad'
 'air_68c1de82037d87e6' 'air_68cc910e7b307b09' 'air_68d075113f368946'
 'air_6902e4ec305b3d08' 'air_694571ea13fb9e0e' 'air_6a15e4eae523189d'
 'air_6b15edd1b4fbb96a' 'air_6b2268863b14a2af' 'air_6b65745d432fd77f'
 'air_6b7678aae65d2d59' 'air_6b942d5ebbc759c2' 'air_6b9fa44a9cf504a1'
 'air_6c1128955c58b690' 'air_6c91a28278a16f64' 'air_6c952e3c6e590945'
 'air_6ca1d941c8199a67' 'air_6cbe54f0aa30b615' 'air_6ced51c24fb54262'
 'air_6d64dba2edd4fc0c' 'air_6d65542aa43b598b' 'air_6d65dd11d96e00fb'
 'air_6e06824d0934dd81' 'air_6e3fd96320d24324' 'air_6e64fb5821402cd2'
 'air_6ff5fca957798daa' 'air_707d4b6328f2c2df' 'air_709262d948dd0b6e'
 'air_70e9e8cd55879414' 'air_70f834596eb99fee' 'air_710d6537cb7623df'
 'air_712dd258f7f91b4b' 'air_71903025d39a4571' 'air_722297e7f26db91d'
 'air_728ff578acc6ac6e' 'air_72f5146cf0c49beb' 'air_735bcbe1763d6e98'
 'air_73f316e6a18d8aa9' 'air_7420042ff75f9aca' 'air_746211c0b532e8aa'
 'air_747f375eb3900e1e' 'air_74cf22153214064c' 'air_7514d90009613cd6'
 'air_754ae581ad80cc9f' 'air_75864c80d2fb334a' 'air_75bd5d1b6dc6670d'
 'air_764f71040a413d4d' 'air_77488fa378cf98c3' 'air_77dfc83450cbc89c'
 'air_7831b00996701c0f' 'air_789103bf53b8096b' 'air_789466e488705c93'
 'air_78df4dc6a7e83e41' 'air_79afb3f52b4d062c' 'air_79f528087f49df06'
 'air_7a81bd7fadcbf3d8' 'air_7a946aada80376a4' 'air_7bacc4d36fb094c9'
 'air_7bc6ca04d7b0f3b8' 'air_7bda6048a4a78837' 'air_7c7774c66fb237f7'
 'air_7cc17a324ae5c7dc' 'air_7cf5a02c0e01b647' 'air_7d65049f9d275c0d'
 'air_7dacea2f22afccfb' 'air_7db266904cb0d72a' 'air_7e12c5d27f44a8de'
 'air_7ef9a5ea5c8fe39f' 'air_7f3dc18494bce98b' 'air_7f9e15afafcf4c75'
 'air_7fbf7649eb13ad9b' 'air_800c02226e2e0288' 'air_8093d0b565e9dbdf'
 'air_8110d68cc869b85e' 'air_81546875de9c8e78' 'air_81a12d67c22e012f'
 'air_81bd68142db76f58' 'air_81c2600146d07d16' 'air_81c5dff692063446'
 'air_820d1919cbecaa0a' 'air_82a6ae14151953ba' 'air_831658500aa7c846'
 'air_832f9dbe9ee4ebd3' 'air_83db5aff8f50478e' 'air_84060403939d8216'
 'air_848616680ef061bd' 'air_84f6876ff7e83ae7' 'air_8523d6a70de49e6c'
 'air_859feab8e3c9f98d' 'air_85bd13a49370c392' 'air_86cfbf2624576fad'
 'air_86f7b2109e4abd65' 'air_87059630ab6fe47f' 'air_87078cf7903a648c'
 'air_87467487d21891dd' 'air_8764b3473ddcceaf' 'air_876d7a23c47811cb'
 'air_877f79706adbfb06' 'air_87ca98aa7664de94' 'air_87f9e1024b951f01'
 'air_883ca28ef0ed3d55' 'air_88c8e34baa79217b' 'air_88ca84051ba95339'
 'air_88f31db64991768a' 'air_890d7e28e8eaaa11' 'air_89e7328af22efe74'
 'air_8a1d21fad48374e8' 'air_8a59bb0c497b771e' 'air_8a906e5801eac81c'
 'air_8b4a46dc521bfcfe' 'air_8c119d1f16049f20' 'air_8c3175aa5e4fc569'
 'air_8cc350fd70ee0757' 'air_8ce035ee1d8a56a6' 'air_8d50c64692322dff'
 'air_8d61f49aa0373492' 'air_8e429650fcf7a0ae' 'air_8e4360a64dbd4c50'
 'air_8e492076a1179383' 'air_8e8f42f047537154' 'air_8ec47c0f1e2c879e'
 'air_8f13ef0f5e8c64dd' 'air_8f273fb9ad2fed6f' 'air_8f3b563416efc6ad'
 'air_900d755ebd2f7bbd' 'air_901925b628677c2e' 'air_90213bcae4afa274'
 'air_90bd5de52c166767' 'air_90ed0a2f24755533' 'air_90f0efbb702d77b7'
 'air_9105a29b0eb250d2' 'air_91236b89d29567af' 'air_9152d9926e5c4a3a'
 'air_915558a55c2bc56c' 'air_91beafbba9382b0a' 'air_91d72e16c4bcba55'
 'air_9241121af22ff1d6' 'air_929d8513e3cdb423' 'air_931a8a4321b6e7d1'
 'air_9352c401d5adb01b' 'air_9387ff95e886ebc7' 'air_938ef91ecdde6878'
 'air_939964477035ef0b' 'air_93b9bb641f8fc982' 'air_93dd7070c9bf5453'
 'air_93ebe490d4abb8e9' 'air_9438d67241c81314' 'air_947eb2cae4f3e8f2'
 'air_9483d65e9cc9a6b7' 'air_950381108f839348' 'air_95d28905941fd4cb'
 'air_95e917913cd988f3' 'air_96005f79124e12bf' 'air_965b2e0cf4119003'
 'air_96743eee94114261' 'air_96773a6236d279b1' 'air_968d72c12eed09f0'
 'air_96929a799b12a43e' 'air_96ec3cfe78cb0652' 'air_97159fc4e90053fe'
 'air_97958e7fce98b6a3' 'air_97b2a9f975fc702c' 'air_97cf68dc1a9beac0'
 'air_97e0f2feec4d577a' 'air_9828505fefc77d75' 'air_98b54e32ccddd896'
 'air_990a642a3deb2903' 'air_99157b6163835eec' 'air_99a5183695b849f9'
 'air_99b01136f451fc0e' 'air_99c3eae84130c1cb' 'air_9a30407764f4ff84'
 'air_9a6f6e7f623003d2' 'air_9aa32b3db0fab3a5' 'air_9aa92007e3628dbc'
 'air_9ae7081cb77dc51e' 'air_9b13c7feb0a0c431' 'air_9b6af3db40da4ae2'
 'air_9bbc673495e23532' 'air_9bf0ccac497c4af3' 'air_9bf595ef095572fb'
 'air_9c6787aa03a45586' 'air_9ca2767761efff4d' 'air_9cd5e310f488bced'
 'air_9cf2f1ba86229773' 'air_9d3482b4680aee88' 'air_9d452a881f7f2bb7'
 'air_9d474ec2448c700d' 'air_9d5a980b211e1795' 'air_9d93d95720f2e831'
 'air_9dc9483f717d73ee' 'air_9dd7d38b0f1760c4' 'air_9e920b758503ef54'
 'air_9efaa7ded03c5a71' 'air_9f277fb7a2c1d842' 'air_9fc607777ad76b26'
 'air_a083834e7ffe187e' 'air_a11473cc1eb9a27f' 'air_a17f0778617c76e2'
 'air_a1fe8c588c8d2f30' 'air_a218912784bf767d' 'air_a21ffca0bea1661a'
 'air_a239a44805932bab' 'air_a24bf50c3e90d583' 'air_a2567267116a3b75'
 'air_a257c9749d8d0ff6' 'air_a271c9ba19e81d17' 'air_a2b29aa7feb4e36f'
 'air_a304330715435390' 'air_a33461f4392ec62c' 'air_a373500730e2a9e0'
 'air_a38f25e3399d1b25' 'air_a41b032371a63427' 'air_a49f1cf0634f13e5'
 'air_a510dcfe979f09eb' 'air_a546cbf478a8b6e4' 'air_a55d17bd3f3033cb'
 'air_a563896da3777078' 'air_a678e5b144ca24ce' 'air_a7404a854919e990'
 'air_a8533b7a992bb0ca' 'air_a85f0c0c889f6b7e' 'air_a85f8c0bfd61889f'
 'air_a88ac559064dec08' 'air_a9133955abccf071' 'air_a9178f19da58fe99'
 'air_a9a380530c1e121f' 'air_aa0049fe3cc6f4d6' 'air_ab3ae0e410b20069'
 'air_ab9746a0f83084b7' 'air_abcdc8115988a010' 'air_abf06fcca748dca5'
 'air_ac7a7427c9ae12a5' 'air_ad13e71e21235131' 'air_ad60f6b76c9df7ed'
 'air_ad7777590c884721' 'air_add9a575623726c8' 'air_ade6e836ffd1da64'
 'air_aed3a8b49abe4a48' 'air_af03c277a167b2bd' 'air_af24e3e817dea1e5'
 'air_af63df35857b16e6' 'air_b0a6a4c5e95c74cf' 'air_b162fb07fbbdea33'
 'air_b192fb5310436005' 'air_b1a72bf1ebf4b8ef' 'air_b1bb1fae86617d7a'
 'air_b1d822f75c9fc615' 'air_b2395df0e874078d' 'air_b23d0f519291247d'
 'air_b259b4e4a51a690d' 'air_b28bed4b2e7167b7' 'air_b2a639cc7e02edf1'
 'air_b2d97bd2337c5ba7' 'air_b2dcec37b83e2494' 'air_b30fffd7ab1e75a5'
 'air_b3180b74332ba886' 'air_b3a824511477a4ed' 'air_b439391e72899756'
 'air_b45b8e456f53942a' 'air_b4f32bcc399da2b9' 'air_b5598d12d1b84890'
 'air_b5bdd318005d9aa4' 'air_b60cc7d6aee68194' 'air_b711b43ae472cb6b'
 'air_b7fa3d2fca744dd2' 'air_b80fed1a07c817d2' 'air_b88192b35ac03c24'
 'air_b8925441167c3152' 'air_b8a5ee69e5fdcc5b' 'air_b8d9e1624baaadc2'
 'air_b9e27558fb8bd5c4' 'air_ba495cccc8f0f237' 'air_ba937bf13d40fb24'
 'air_bac5f4441db21db9' 'air_baf28ac9f13a307d' 'air_bb09595bab7d5cfb'
 'air_bb26d6d079594414' 'air_bb4ff06cd661ee9b' 'air_bbe1c1a47e09f161'
 'air_bc991c51d6613745' 'air_bc9a129e11a2efe0' 'air_bcce1ea4350b7b72'
 'air_bd74a9222edfdfe1' 'air_bdd32aa407c16335' 'air_bebd55ed63ab2422'
 'air_bed603c423b7d9d4' 'air_bedd35489e666605' 'air_bf13014b6e3e60ca'
 'air_bf21b8350771879b' 'air_bf617aa68d5f1cfa' 'air_bf7591560077332d'
 'air_bfafaed35e213fd7' 'air_bfda7731a6c6fc61' 'air_c027e2b560442808'
 'air_c0385db498b391e5' 'air_c1d5d165c055b866' 'air_c1ff20617c54fee7'
 'air_c225148c0fcc5c72' 'air_c2626f5f86d57342' 'air_c26f027b5bc1f081'
 'air_c28983412a7eefcf' 'air_c2c8435bdb3516d4' 'air_c31472d14e29cee8'
 'air_c3585b0fba3998d0' 'air_c3bc011cca3bec65' 'air_c3dcaf3aeb18e20e'
 'air_c47aa7493b15f297' 'air_c4fa5c562d5409ca' 'air_c52c63c781fe48f6'
 'air_c5459218282bedd5' 'air_c66dbd2c37832d00' 'air_c6a164dd4060e960'
 'air_c6aa2efba0ffc8eb' 'air_c6ffd6a93e6b68d6' 'air_c73d319ffabf287a'
 'air_c759b6abeb552160' 'air_c77ee2b7d36da265' 'air_c7d30ab0e07f31d5'
 'air_c7f78b4f3cba33ff' 'air_c8265ecc116f2284' 'air_c88467d88b2c8ecd'
 'air_c8a657c8c5c93d69' 'air_c8c0ef02ed72053f' 'air_c8fe396d6c46275d'
 'air_c92745dfdd2ec68a' 'air_c9ed65554b6edffb' 'air_c9f6de13be8b8f25'
 'air_ca1315af9e073bd1' 'air_ca6ae8d49a2f1eaf' 'air_ca957d3a1529fbd3'
 'air_cadf9cfb510a1d78' 'air_caf996ac27206301' 'air_cb25551c4cd8d9f3'
 'air_cb7467aed805e7fe' 'air_cb935ff8610ba3d3' 'air_cbe139af83feb388'
 'air_cbe867adcf44e14f' 'air_cc1a0e985ce63711' 'air_cc35590cd1da8554'
 'air_ccd19a5bc5573ae5' 'air_cd4b301d5d3918d8' 'air_cd5f54969be9ed08'
 'air_ced6297e5bdf5130' 'air_cf2229e64408d9fe' 'air_cf5ab75a0afb8af9'
 'air_cfcc94797d2b5d3d' 'air_cfdeb326418194ff' 'air_d00161e19f08290b'
 'air_d00a15343325e5f7' 'air_d07e57b21109304a' 'air_d0a1e69685259c92'
 'air_d0e8a085d8dc83aa' 'air_d138b593ebda55cc' 'air_d1418d6fd6d634f2'
 'air_d186b2cb0b9ce022' 'air_d1f20424f76cc78e' 'air_d34c0861a2be94cb'
 'air_d3e7b5952cd09ccb' 'air_d44d210d2994f01b' 'air_d473620754bf9fc2'
 'air_d477b6339b8ce69f' 'air_d4981cdde163b172' 'air_d4b5a4b04c5f2d04'
 'air_d4d218b451f82c3d' 'air_d500b48a8735fbd3' 'air_d54d6fcb116fbed3'
 'air_d5e0a20370c325c7' 'air_d69b08a175bc0387' 'air_d6b3e67261f07646'
 'air_d8abb9e490abf94f' 'air_d97dabf7aae60da5' 'air_d98380a4aeb0290b'
 'air_daa7947e1c47f5ed' 'air_dabfbd0ec951925a' 'air_dad0b6a36138f309'
 'air_db1233ad855b34d5' 'air_db4b38ebe7a7ceff' 'air_db80363d35f10926'
 'air_dbf64f1ce38c7442' 'air_dc0e080ba0a5e5af' 'air_dc71c6cc06cd1aa2'
 'air_de692863bb2dd758' 'air_de803f7e324936b8' 'air_de88770300008624'
 'air_dea0655f96947922' 'air_df507aec929ce5f6' 'air_df554c4527a1cfe6'
 'air_df5cf5cd03eb68d0' 'air_df843e6b22e8d540' 'air_df9355c47c5df9d3'
 'air_dfad598ff642dab7' 'air_dfe068a1bf85f395' 'air_e00fe7853c0100d6'
 'air_e0118664da63a2d0' 'air_e01d99390355408d' 'air_e053c561f32acc28'
 'air_e08b9cf82057a170' 'air_e0aee25b56a069f2' 'air_e0e69668214ff972'
 'air_e0f241bd406810c0' 'air_e1b76fcb5208fb6b' 'air_e2208a79e2678432'
 'air_e270aff84ac7e4c8' 'air_e3020992d5fe5dfd' 'air_e34c631c766f2766'
 'air_e42bdc3377d1eee7' 'air_e483f5b3c4f310e0' 'air_e524c6a9e06cc3a1'
 'air_e55abd740f93ecc4' 'air_e57dd6884595f60d' 'air_e58f669b6f1a08ce'
 'air_e5cf003abcc5febb' 'air_e64de0a6bf0739af' 'air_e657ca554b0c008c'
 'air_e700e390226d9985' 'air_e76a668009c5dabc' 'air_e7d2ac6d53d1b744'
 'air_e7fbee4e3cfe65c5' 'air_e88bbe2ede3467aa' 'air_e89735e80d614a7e'
 'air_e8ed9335d0c38333' 'air_e9ebf7fc520ac76a' 'air_ea6d0c3acf00b22a'
 'air_ea7c16131980c837' 'air_eb120e6d384a17a8' 'air_eb20a89bba7dd3d0'
 'air_eb2d2653586315dd' 'air_eb5788dba285e725' 'air_ebd31e812960f517'
 'air_ebe02c3090271fa9' 'air_ec0fad2def4dcff0' 'air_eca4a5a191e8d993'
 'air_eca5e0064dc9314a' 'air_ecab54b57a71b10d' 'air_eceb97ad6a7d4c07'
 'air_ecf7f141339f1d57' 'air_eda179770dfa9f91' 'air_edd5e3d696a5811b'
 'air_ee3a01f0c71a769f' 'air_ee3ba9af184c6c82' 'air_eec5e572b9eb9c23'
 'air_eeeadee005c006a2' 'air_ef47430bcd6f6a89' 'air_ef789667e2e6fe96'
 'air_ef920fa6f4b085f6' 'air_efc80d3f96b3aff7' 'air_efd70b04de878f25'
 'air_efef1e3daecce07e' 'air_f068442ebb6c246c' 'air_f0c7272956e62f12'
 'air_f0fb0975bdc2cdf9' 'air_f1094dbf2aef85d9' 'air_f180301886c21375'
 'air_f183a514cb8ff4fa' 'air_f1f9027d4fa8f653' 'air_f267dd70a6a6b5d3'
 'air_f26f36ec4dc5adb0' 'air_f2985de32bb792e0' 'air_f2c5a1f24279c531'
 'air_f3602e4fa2f12993' 'air_f3f9824b7d70c3cf' 'air_f4936b91c9addbf0'
 'air_f593fa60ac3541e2' 'air_f690c42545146e0a' 'air_f6b2489ccf873c3b'
 'air_f6bfd27e2e174d16' 'air_f6cdaf7b7fdc6d78' 'air_f8233ad00755c35c'
 'air_f85e21e543cf44f2' 'air_f88898cd09f40496' 'air_f911308e19d64236'
 'air_f9168b23fdfc1e52' 'air_f927b2da69a82341' 'air_f957c6d6467d4d90'
 'air_f96765e800907c77' 'air_fa12b40b02fecfd8' 'air_fa4ffc9057812fa2'
 'air_fab092c35776a9b1' 'air_fb44f566d4f64a4e' 'air_fbadf737162a5ce3'
 'air_fc477473134e9ae5' 'air_fcd4492c83f1c6b9' 'air_fcfbdcf7b1f82c6e'
 'air_fd154088b1de6fa7' 'air_fd6aac1043520e83' 'air_fdc02ec4a3d21ea4'
 'air_fdcfef8bd859f650' 'air_fe22ef5a9cbef123' 'air_fe58c074ec1445ea'
 'air_fea5dc9594450608' 'air_fee8dcf4d619598e' 'air_fef9ccb3ba0da2f7'
 'air_ffcc2d5087e1b476' 'air_fff68b929994bfbd']

           air_store_id  dow
0  air_00a91d42b08b08d9    0
1  air_0164b9927d20bcc3    0
2  air_0241aa3964b7f861    0
3  air_0328696196e46f18    0
4  air_034a3d5b40d5b1b1    0

In [7]:
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].min().rename(columns={'visitors':'min_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow']) 
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].mean().rename(columns={'visitors':'mean_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].median().rename(columns={'visitors':'median_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].max().rename(columns={'visitors':'max_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].count().rename(columns={'visitors':'count_observations'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow']) 

stores = pd.merge(stores, data['as'], how='left', on=['air_store_id']) 
stores.head(5)

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,air_genre_name,air_area_name,latitude,longitude
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0,Izakaya,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996
3,air_0328696196e46f18,0,2.0,6.416667,4.0,27.0,12.0,Dining bar,Ōsaka-fu Ōsaka-shi Nakanochō,34.701279,135.528090
4,air_034a3d5b40d5b1b1,0,1.0,11.864865,10.0,66.0,37.0,Cafe/Sweets,Ōsaka-fu Ōsaka-shi Ōhiraki,34.692337,135.472229

In [8]:
stores['air_genre_name'] = stores['air_genre_name'].map(lambda x: str(str(x).replace('/',' ')))
stores['air_area_name'] = stores['air_area_name'].map(lambda x: str(str(x).replace('-',' ')))
lbl = preprocessing.LabelEncoder()
for i in range(10):
    stores['air_genre_name'+str(i)] = lbl.fit_transform(stores['air_genre_name'].map(lambda x: str(str(x).split(' ')[i]) if len(str(x).split(' '))>i else ''))
    stores['air_area_name'+str(i)] = lbl.fit_transform(stores['air_area_name'].map(lambda x: str(str(x).split(' ')[i]) if len(str(x).split(' '))>i else ''))
stores['air_genre_name'] = lbl.fit_transform(stores['air_genre_name'])
stores['air_area_name'] = lbl.fit_transform(stores['air_area_name'])

stores.head(5)

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,air_genre_name,air_area_name,latitude,...,air_genre_name5,air_area_name5,air_genre_name6,air_area_name6,air_genre_name7,air_area_name7,air_genre_name8,air_area_name8,air_genre_name9,air_area_name9
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0,6,44,35.694003,...,0,0,0,0,0,0,0,0,0,0
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0,6,62,35.658068,...,0,0,0,0,0,0,0,0,0,0
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0,7,82,35.712607,...,0,0,0,0,0,0,0,0,0,0
3,air_0328696196e46f18,0,2.0,6.416667,4.0,27.0,12.0,4,98,34.701279,...,0,0,0,0,0,0,0,0,0,0
4,air_034a3d5b40d5b1b1,0,1.0,11.864865,10.0,66.0,37.0,2,102,34.692337,...,0,0,0,0,0,0,0,0,0,0

In [9]:
list(stores)

['air_store_id',
 'dow',
 'min_visitors',
 'mean_visitors',
 'median_visitors',
 'max_visitors',
 'count_observations',
 'air_genre_name',
 'air_area_name',
 'latitude',
 'longitude',
 'air_genre_name0',
 'air_area_name0',
 'air_genre_name1',
 'air_area_name1',
 'air_genre_name2',
 'air_area_name2',
 'air_genre_name3',
 'air_area_name3',
 'air_genre_name4',
 'air_area_name4',
 'air_genre_name5',
 'air_area_name5',
 'air_genre_name6',
 'air_area_name6',
 'air_genre_name7',
 'air_area_name7',
 'air_genre_name8',
 'air_area_name8',
 'air_genre_name9',
 'air_area_name9']

In [10]:
data['hol']['visit_date'] = pd.to_datetime(data['hol']['visit_date'])
data['hol']['day_of_week'] = lbl.fit_transform(data['hol']['day_of_week'])
data['hol']['visit_date'] = data['hol']['visit_date'].dt.date
train = pd.merge(data['tra'], data['hol'], how='left', on=['visit_date']) 
test = pd.merge(data['tes'], data['hol'], how='left', on=['visit_date']) 

train = pd.merge(train, stores, how='left', on=['air_store_id','dow']) 
test = pd.merge(test, stores, how='left', on=['air_store_id','dow'])

for df in ['ar','hr']:
    train = pd.merge(train, data[df], how='left', on=['air_store_id','visit_date']) 
    test = pd.merge(test, data[df], how='left', on=['air_store_id','visit_date'])

train['id'] = train.apply(lambda r: '_'.join([str(r['air_store_id']), str(r['visit_date'])]), axis=1)

train.head(5)
test.head(5)

,air_store_id,visit_date,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,...,air_area_name9,rs1_x,rv1_x,rs2_x,rv2_x,rs1_y,rv1_y,rs2_y,rv2_y,id
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,6,0,7.0,23.843750,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-13
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,4,0,2.0,20.292308,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-14
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,0,4.0,34.738462,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-15
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,2,0,6.0,27.651515,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-16
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,1,0,2.0,13.754386,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-18

,id,visitors,visit_date,air_store_id,dow,year,month,day_of_week,holiday_flg,min_visitors,...,air_genre_name9,air_area_name9,rs1_x,rv1_x,rs2_x,rv2_x,rs1_y,rv1_y,rs2_y,rv2_y
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,3,0,2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,1,0,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,5,0,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,6,0,15.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,4,0,15.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
train['total_reserv_sum'] = train['rv1_x'] + train['rv1_y']
train['total_reserv_mean'] = (train['rv2_x'] + train['rv2_y']) / 2
train['total_reserv_dt_diff_mean'] = (train['rs2_x'] + train['rs2_y']) / 2

test['total_reserv_sum'] = test['rv1_x'] + test['rv1_y']
test['total_reserv_mean'] = (test['rv2_x'] + test['rv2_y']) / 2
test['total_reserv_dt_diff_mean'] = (test['rs2_x'] + test['rs2_y']) / 2

train.head(5)
test.head(5)

,air_store_id,visit_date,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,...,rs2_x,rv2_x,rs1_y,rv1_y,rs2_y,rv2_y,id,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,6,0,7.0,23.843750,...,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-13,NaN,NaN,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,4,0,2.0,20.292308,...,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-14,NaN,NaN,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,0,4.0,34.738462,...,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-15,NaN,NaN,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,2,0,6.0,27.651515,...,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-16,NaN,NaN,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,1,0,2.0,13.754386,...,NaN,NaN,NaN,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-18,NaN,NaN,NaN

,id,visitors,visit_date,air_store_id,dow,year,month,day_of_week,holiday_flg,min_visitors,...,rv1_x,rs2_x,rv2_x,rs1_y,rv1_y,rs2_y,rv2_y,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,3,0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,5,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,6,0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,4,0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
train['date_int'] = train['visit_date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
test['date_int'] = test['visit_date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
train['var_max_lat'] = train['latitude'].max() - train['latitude']
train['var_max_long'] = train['longitude'].max() - train['longitude']
test['var_max_lat'] = test['latitude'].max() - test['latitude']
test['var_max_long'] = test['longitude'].max() - test['longitude']

train.head(5)
test.head(5)

,air_store_id,visit_date,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,...,rv1_y,rs2_y,rv2_y,id,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,6,0,7.0,23.843750,...,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-13,NaN,NaN,NaN,20160113,8.362564,4.521799
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,4,0,2.0,20.292308,...,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-14,NaN,NaN,NaN,20160114,8.362564,4.521799
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,0,4.0,34.738462,...,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-15,NaN,NaN,NaN,20160115,8.362564,4.521799
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,2,0,6.0,27.651515,...,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-16,NaN,NaN,NaN,20160116,8.362564,4.521799
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,1,0,2.0,13.754386,...,NaN,NaN,NaN,air_ba937bf13d40fb24_2016-01-18,NaN,NaN,NaN,20160118,8.362564,4.521799

,id,visitors,visit_date,air_store_id,dow,year,month,day_of_week,holiday_flg,min_visitors,...,rs1_y,rv1_y,rs2_y,rv2_y,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,3,0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20170423,8.326629,4.519803
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,1,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20170424,8.326629,4.519803
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,5,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20170425,8.326629,4.519803
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,6,0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20170426,8.326629,4.519803
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,4,0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20170427,8.326629,4.519803

In [13]:
train['lon_plus_lat'] = train['longitude'] + train['latitude'] 
test['lon_plus_lat'] = test['longitude'] + test['latitude']

lbl = preprocessing.LabelEncoder()
train['air_store_id2'] = lbl.fit_transform(train['air_store_id'])
test['air_store_id2'] = lbl.transform(test['air_store_id'])

col = [c for c in train if c not in ['id', 'air_store_id', 'visit_date','visitors']]
train = train.fillna(-1)
test = test.fillna(-1)

In [14]:
train.head(5)
test.head(5)

,air_store_id,visit_date,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,...,rv2_y,id,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long,lon_plus_lat,air_store_id2
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,6,0,7.0,23.843750,...,-1.0,air_ba937bf13d40fb24_2016-01-13,-1.0,-1.0,-1.0,20160113,8.362564,4.521799,175.409667,603
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,4,0,2.0,20.292308,...,-1.0,air_ba937bf13d40fb24_2016-01-14,-1.0,-1.0,-1.0,20160114,8.362564,4.521799,175.409667,603
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,0,4.0,34.738462,...,-1.0,air_ba937bf13d40fb24_2016-01-15,-1.0,-1.0,-1.0,20160115,8.362564,4.521799,175.409667,603
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,2,0,6.0,27.651515,...,-1.0,air_ba937bf13d40fb24_2016-01-16,-1.0,-1.0,-1.0,20160116,8.362564,4.521799,175.409667,603
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,1,0,2.0,13.754386,...,-1.0,air_ba937bf13d40fb24_2016-01-18,-1.0,-1.0,-1.0,20160118,8.362564,4.521799,175.409667,603

,id,visitors,visit_date,air_store_id,dow,year,month,day_of_week,holiday_flg,min_visitors,...,rs2_y,rv2_y,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long,lon_plus_lat,air_store_id2
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,3,0,2.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170423,8.326629,4.519803,175.447598,0
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,1,0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170424,8.326629,4.519803,175.447598,0
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,5,0,1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170425,8.326629,4.519803,175.447598,0
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,6,0,15.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170426,8.326629,4.519803,175.447598,0
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,4,0,15.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170427,8.326629,4.519803,175.447598,0

In [15]:
#RMSE function for evaluation
def RMSLE(y, pred):
    return metrics.mean_squared_error(y, pred)**0.5

In [17]:
#Run models for Linear Regression

model2 = linear_model.LinearRegression(n_jobs=-1, normalize=True)

model2.fit(train[col], np.log1p(train['visitors'].values))

preds2 = model2.predict(train[col])

print('RMSE LinearRegressor: ', RMSLE(np.log1p(train['visitors'].values), preds2))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=True)

RMSE LinearRegressor:  0.553527278308

In [18]:
preds2t = model2.predict(test[col])

test['visitors'] = preds2t
test['visitors'] = np.expm1(test['visitors']).clip(lower=0.)
sub1 = test[['id','visitors']].copy()
sub1.head(5)

                                id   visitors
0  air_00a91d42b08b08d9_2017-04-23   4.843798
1  air_00a91d42b08b08d9_2017-04-24  14.990146
2  air_00a91d42b08b08d9_2017-04-25  17.557953
3  air_00a91d42b08b08d9_2017-04-26  20.585493
4  air_00a91d42b08b08d9_2017-04-27  22.288256

In [19]:
#Getting csvs for submission
sub1[['id', 'visitors']].to_csv('lrsubmission1.csv', index=False)

In [20]:
#Adding mean weighted results to ensemble and checking (optional)

air_visit_data = pd.read_csv('air_visit_data.csv')
air_store_info = pd.read_csv('air_store_info.csv')
hpg_store_info = pd.read_csv('hpg_store_info.csv')
air_reserve = pd.read_csv('air_reserve.csv')
hpg_reserve = pd.read_csv('hpg_reserve.csv')
store_id_relation = pd.read_csv('store_id_relation.csv')
sample_submission = pd.read_csv('sample_submission.csv')
date_info = pd.read_csv('date_info.csv')

In [21]:
wkend_holidays = date_info.apply(
    (lambda x:(x.day_of_week=='Sunday' or x.day_of_week=='Saturday') and x.holiday_flg==1), axis=1)
date_info.loc[wkend_holidays, 'holiday_flg'] = 0
date_info['weight'] = ((date_info.index + 1) / len(date_info)) ** 5  

visit_data = air_visit_data.merge(date_info, left_on='visit_date', right_on='calendar_date', how='left')
visit_data.drop('calendar_date', axis=1, inplace=True)
visit_data['visitors'] = visit_data.visitors.map(pd.np.log1p)

wmean = lambda x:( (x.weight * x.visitors).sum() / x.weight.sum() )
visitors = visit_data.groupby(['air_store_id', 'day_of_week', 'holiday_flg']).apply(wmean).reset_index()
visitors.rename(columns={0:'visitors'}, inplace=True)

sample_submission['air_store_id'] = sample_submission.id.map(lambda x: '_'.join(x.split('_')[:-1]))
sample_submission['calendar_date'] = sample_submission.id.map(lambda x: x.split('_')[2])
sample_submission.drop('visitors', axis=1, inplace=True)
sample_submission = sample_submission.merge(date_info, on='calendar_date', how='left')
sample_submission = sample_submission.merge(visitors, on=[
    'air_store_id', 'day_of_week', 'holiday_flg'], how='left')

missings = sample_submission.visitors.isnull()
sample_submission.loc[missings, 'visitors'] = sample_submission[missings].merge(
    visitors[visitors.holiday_flg==0], on=('air_store_id', 'day_of_week'), 
    how='left')['visitors_y'].values

missings = sample_submission.visitors.isnull()
sample_submission.loc[missings, 'visitors'] = sample_submission[missings].merge(
    visitors[['air_store_id', 'visitors']].groupby('air_store_id').mean().reset_index(), 
    on='air_store_id', how='left')['visitors_y'].values

sample_submission['visitors'] = sample_submission.visitors.map(pd.np.expm1)

In [22]:
sub3 = sample_submission[['id', 'visitors']].copy()
sub4= pd.merge(sub1, sub3, on='id', how='inner')

In [23]:
sub4['visitors'] = 0.7*sub4['visitors_x'] + 0.3*sub4['visitors_y']* 1.1
sub4[['id', 'visitors']].to_csv('lrsubmission2.csv', index=False)